/* header */

.header-section{
  display: flex;
  width: 100%;
  align-items: center;
  position: fixed;
  justify-content: space-between;
  background-color: white;
  z-index: 100;
  height: 80px;
  /* margin: 10px 10px 10px 100px; */
  top: 0px;
  left: 0px;
}

.header-logo{
  padding-left: 25px;
}

.pages-list{
  display: flex;
  padding-right: 20px;
  /* margin: 10px 10px 10px 10px; */
  /* margin-left: 80%; */
}

.pages-items{
  /* margin-left: 50%; */
  letter-spacing: 2px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.pages-list{
  align-items: center;
}

.top-sns{
  display: flex;
  align-items: center;
  vertical-align: center;
}

.top-sns a{
  border: 0.2px solid;
  border-radius: 50%;
  border-color: gray;
  display: block;
  height: 45px;
  width: 45px;
}

.sns-icon{
  margin-top: 10px;
}

ul{
  list-style-type: none;
}

.top-link{
  text-decoration: none;
  color: gray;
  font-weight: bold;
  font-size: 13px;
}


.header-line{
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  background-color: #5FDF5B;
  margin-bottom: 15px;
  margin-right: 15px;
  border-radius: 20px;
  align-items: center;
  padding: 22px 20px 22px 24px;
}

.header-line-word{
  color: white;
  font-weight: bold;
  font-size: 12px;
  padding-left: 20px;
  padding-right: 30px;
  transform : scaleY(1.2);
  letter-spacing: 0.12em;
}

.link-icon{
  height:40px;
  z-index: 10;
  background: radial-gradient(#fff 60%, transparent 60%);
}
/* main */

.top-title{
  margin-top: 80px;
  display: flex;
}


.top-title-left{
  /* display: flex; */
  background-color: #eff2f5;
  z-index: 30;
  border-radius: 20px;
  /* margin-left: 50px; */
  /* text-align: center; */
  vertical-align: center;
  margin-bottom: 10%;
  margin-top: 10%;
  /* display: flex; */
  align-self: center;
  padding: 40px 62px;
  padding-right: 40px;
  padding-top: 50px;
  white-space: nowrap;
  position: absolute;
  margin-left: auto;
  margin-left: 80px;
  line-height: 30px;
}

.top-title-right-wrapper {
  width: 100%;
}

.top-title-right{
  /* width: 5000px; */
  width: 69%;
  height: 680px;
  /* margin-left: -500px; */
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  display: block;
  margin-left: auto;
  /* margin-left: 0; */
  z-index: 20;
  object-fit: cover;
  /* position: absolute; */
  position: relative;
  object-fit: cover;
}

.left1{
  color: #0071bc;
  font-weight: bold;
  margin-bottom: 20px;
}

.left2{
  line-height: 66px;
}

.left2 span{
  /* background-color: aqua; */
  font-size: 60px;
  font-weight: bold;
}

.Scroll-Down{
  display: flex;
  /* width: 100%; */
  bottom: 10px;
  margin-left: 100px;
  position: absolute;

}

.Scroll-Down2{
  vertical-align: bottom;
  margin-top: -60px;
  width: 200px;
  /* bottom: 0; */
  font-size: 14px;
  align-items: center;

}

.Scroll-Down2::before{
  content: "・";
  color: gray;
  font-size: 15px;
  /* box-shadow: 0px 1px 6px #000; */
}




.about-posse{
  align-items: center;
  text-align: center;
  margin-top: 120px;
}

.about-posse-en{
  font-size: 14px;
  color: #0071bc;
  margin-bottom: 40px;
}

.about-detail{
  display: flex;
  /* width: 100%; */
  margin: 0 16%;
  padding: 0 24px;
  margin-bottom: 100px;
}

.about-detail-img{
  width: 50%;
  border-radius: 20px;
}

.about-detail-word{
  width: 50%;
  margin-left: 30px;
  /* text-align: center; */
  margin-top: 80px;
  line-height: 1.8;
  font-size: 14px;
}

.bottom-line{
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background: radial-gradient(#fff 60%, transparent 60%);
  /* background-size: 10px 10px; */
  margin-top: 27px;
}

.official-line{
  display: flex;
  /* text-align: center; */
  /* margin: 0 auto; */
  /* text-align: center; */
  /* margin-left: 100px; */
  position: relative;
  margin-left: 33%;
}

.bottom-line-add{
  background-image: url(../icon/bg-line.jpg);
  background-size: cover;
  height: 100%;
  margin: 0 18%;
  border-radius: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 100px;
  position: relative;
}

.bottom-line-add::before{
  background-color: rgb(0, 113, 188, 0.9);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border-radius: 60px;
}

.line-add-detail{
  color: white;
  align-items: center;
  /* margin-left: 27%; */
  text-align: center;
  line-height: 1.8;
  margin-bottom: 15px;
  position: relative;
  font-size: 16px;
}


.line-add{
  display: flex;
  align-items: center;
  background-color: white;
  margin: 0px 320px;
  padding: 15px 0;
  border-radius: 100px;
  text-align: center;
  position: relative;
  /* width: 100%; */
}

.official-line h3{
  color: white;
  font-size: 30px;
}

.LINE-add{
  /* color: #00c300; */
  margin-right: 5%;
  height: 15px;
  background-color: white;

}

.LINE-font{
  align-items: center;
  margin-right: auto;
  text-align: center;
  margin-left: 40%;
  text-decoration: none;
}

/* footer */

.l-footer__inner{
  margin: 0 auto;
  /* padding-left: 20px; */
  /* width: 250px; */
  border-top:solid 0.4px gray;
  border-bottom:solid 0.4px gray;
}

.p-footer__siteinfo{
  text-align: center;
}

/* .p-footer__siteinfo-below{
  display: table-cell;
  vertical-align: middle;
} */

.posse-ap-offical{
  text-align: center;
}

.p-sns__list-p-footer__sns__list{
  text-align: center;
}

.p-footer__copyright{
  text-align: center;
}

.p-footer__siteinfo-below{
  width: 14%;
  margin-top: 50px;
  margin-bottom: 30px;
}

.p-sns__list-p-footer__sns__list{
  margin-top: 40px;
  margin-bottom: 60px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 8em
}

.footer-sns-icon{
  margin: 0 4px;
 
  /* height: 45px;
  width: 45px; */
  
}

.p-footer__sns{
  /* border: solid black */
  text-align: center;
}

.p-footer__copyright{
  margin: 50px 0;
  color: gray;
}

.p-sns__list-p-footer__sns__list a{
  border: 0.2px solid;
  border-radius: 50%;
  border-color: gray;
  display: block;
  height: 45px;
  width: 45px;
}

.footer-sns-icon img{
  margin-top: 10px;
}

